<% include ../modules/_header %>
<div class="container flex-grow-1 p-0">
    <div class="row">
        <div class="col-md-5 mb-4">
            <div class="card">
                <div class="card-header text-muted text-center text-lg-left">
                    <h4>
                        <i class="far fa-id-card pr-2"></i>
                        Yelp Camp profile for <span class="text-info font-italic"><%= userData.username %></span>
                    </h4>
                </div>
                <div class="card-body">
                    <p class="text"><strong>First Name</strong></p>
                    <p class="text"><%= userData.firstname %></p>
                    <p class="text"><strong>Last Name</strong></p>
                    <p class="text"><%= userData.lastname %></p>
                    <p class="text"><strong>Date of Birth</strong></p>
                    <p class="text"><%= userData.dateOfBirth.toLocaleDateString(('es-ES'), {year: 'numeric', month: '2-digit', day: '2-digit'}) %></p>
                    <p class="text"><strong>Email</strong></p>
                    <p class="text"><a href="mailto:<%= userData.email %>" ><%= userData.email %></a></p>
                </div>
                <% if(currentUser && (userData._id.equals(currentUser._id) || currentUser.isAdmin)){ %>
                <div class="card-footer">
                    <a href="/user/<%= userData.id %>/edit" class="btn btn-outline-info"><i class="far fa-edit pr-1"></i>edit profile</a>
                </div>
                <% } %>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card mb-4">
                <div class="card-header text-muted text-center text-lg-left">
                    <h4>
                        <i class="fas fa-campground pr-2"></i>
                        Campgrounds added by <span class="text-info font-italic"><%= userData.username %></span>
                    </h4>
                </div>
                <% if(campgroundData.length === 0) { %>
                <div class="card-body">
                    <p class="text">No campgrounds added by <em><%= userData.username %></em></p>
                </div>
                <% } %>    
                <div class="card-body">
                    <% campgroundData.forEach(campground => { %>
                    <ul>
                        <li>
                            <p class="text">
                                <a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a>
                            </p>
                            <p class="text"><i class="fas fa-location-arrow pr-2"></i><%= campground.location %></p>
                        </li>
                    </ul>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../modules/_footer %>