<% include ../modules/_header %>
<div class="row wrapper">
    <div class="col-md-3">
        <p class="lead">Yelp Camp</p>
        <div class="list-group">
            <li class="list-group-item active">Info1</li>
            <li class="list-group-item">Info2</li>
            <li class="list-group-item">Info3</li>
        </div>
        <div id="map"></div>
    </div>
    <div class="col-md-9">
        <div class="card mb-3">
            <h3 class="card-header text-muted""><%= campground.name %></h3>
            <div class="card-body">
                <img    src="/<%= campground.image %>" alt="<%= campground.name %>"
                        class="card-img-top pb-4">
                <p class="float-right">from <%= campground.price %> EUR/night</p> 
                <h4 class="card-title pb-2">About campground <%= campground.name %></h4>
                <p class="card-text"><%= campground.description %></p>
                <p class="card-text"><em>Submitted by <%= campground.author.username %>, <%= moment(campground.createdAt).fromNow() %></em></p>
                <% if(currentUser && (campground.author.id.equals(currentUser._id) || currentUser.isAdmin)){ %>
                    <!--    
                            if not logged-in -> currentUser undefined AND matching ids 
                            for currentUser see passportjs config  
                    -->
                    <a  href="/campgrounds/<%= campground._id %>/edit" 
                        class="btn btn-warning btn-sm">Edit</a>
                    <form   action="/campgrounds/<%= campground._id %>?_method=DELETE" 
                            method="post" class="deleteForm">
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </form>
                <% } %>
            </div>
        </div>
        <div class="card pb-0">
            <div class="card-body">
                <div class="text float-right">
                    <a  class="btn btn-success"
                        href="/campgrounds/<%= campground._id %>/comments/new">
                        Add new comment</a>
                </div>
                <h4 class="card-title">Comments about <%= campground.name %></h4>
            </div>
            <div class="row">
                <% campground.comments.forEach((comment) => { %>
                    <div class="col-md-12 mb-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="float-left">
                                    <p class="card-title"><strong><%= comment.author.username %></strong></p>
                                    <p class="text"><%= comment.text %></p>
                                </div>
                                <% if(currentUser && (comment.author.id.equals(currentUser._id) || currentUser.isAdmin)){ %>
                                    <form   action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" 
                                            method="post" class="float-right deleteForm">
                                    <button class="btn btn-danger btn-sm">Delete</button>
                                    </form>
                                    <a  class="float-right mr-3 btn btn-warning btn-sm" 
                                        href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit</a>                     
                                <% } %>
                                <div class="float-right mr-3">
                                    <p>Added <%= moment(comment.createdAt).fromNow() %></p>
                                </div>
                            </div>
                        </div>  
                    </div>
                <% }); %> 
            </div>
        </div>
    </div>
</div> 

<!-- GOOGLE MAPS -->
<script>
    function initMap() {
        let lat = Number('<%= campground.lat %>');
        let lng = Number('<%= campground.lng %>');
        let center = {lat: lat, lng: lng };
        let map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: center,
            scrollwheel: false
        });
        let contentString = `
            <strong><%= campground.name %><br />
            <%= campground.location %></strong>
            <p><%= campground.description %></p>
          `
        let infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        let marker = new google.maps.Marker({
            position: center,
            map: map
        });
        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>
<script id="mapsApiScript" async defer></script>
<script>
    let apiKey = '<%= api %>';
    let url=`https://maps.googleapis.com/maps/api/js?key=${apiKey}&callback=initMap`;
    document.getElementById('mapsApiScript').src = url;
</script>
<% include ../modules/_footer %>