<% include ../modules/_header %>
<div class="container flex-grow-1 p-0">
    <div class="row d-flex flex-column-reverse flex-lg-row">
        <!-- SIDEBAR SECTION -->
        <div class="col-lg-3">
            <div class="card mb-3">
                <p class="card-header text"><i class="fas fa-info pr-3"></i><strong>Campground details</strong></p>
                <div class="card-body">
                    <ul>
                        <li><p class="text"><i class="far fa-calendar-alt pr-2"></i>Open: <em>all year round</em></p></li>
                        <li><p class="text"></i>Recommend season: <em>summer</em></p></li>
                        <li>
                            <p class="text">
                                <i class="fas fa-euro-sign pr-2"></i>
                                <em>from <%= campground.price %> EUR/night</em>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card mb-4">
                <p class="card-header text">
                    <i class="far fa-compass pr-3"></i><strong>Campground location</strong>
                </p>
                <div id="map"></div>
            </div>
        </div>
        <!-- MAIN CAMPGROUND SECTION -->
        <div class="col-lg-9">
            <div class="card mb-3">
                <div class="card-header text-center d-lg-flex flex-lg-row justify-content-lg-start">
                    <i class="fas fa-campground fa-3x text-muted pr-lg-3 d-none d-lg-inline"></i>
                    <h1 class="text-muted">
                        <%= campground.name %>
                    </h1>
                </div>
                <div class="card-body">
                    <img    src="/<%= campground.image %>" alt="<%= campground.name %>"
                            class="card-img-top pb-4">
                    <h4 class="card-title text-muted text-center text-md-left pb-2">About campground <%= campground.name %></h4>
                    <p class="card-text description text-justify"><%= campground.description %></p>
                    <p class="card-text text-muted">
                        <em>Submitted by <i class="far fa-user-circle pr-1 pl-1"></i> 
                        <a href="/user/<%= campground.author.id %>" class="card-body__author"> <%= campground.author.username %> </a> 
                        <i class="far fa-calendar-alt pr-1 pl-1"></i> <%= moment(campground.createdAt).fromNow() %></em>
                    </p>
                    <% if(currentUser && (campground.author.id.equals(currentUser._id) || currentUser.isAdmin)){ %>
                        <!--    
                                show edit/delete buttons to logged-in owner-user only
                                if not logged-in -> currentUser undefined AND matching ids 
                                for currentUser see passportjs config  
                        -->
                        <a  href="/campgrounds/<%= campground._id %>/edit" 
                            class="btn btn-outline-info btn-sm mr-1"><i class="far fa-edit pr-1"></i>Edit campground
                        </a>
                        <form   action="/campgrounds/<%= campground._id %>?_method=DELETE" 
                                method="post" class="deleteForm">
                            <button class="btn btn-outline-danger btn-sm"><i class="far fa-trash-alt pr-1"></i>Delete</button>
                        </form>
                    <% } %>
                </div>
                <!-- SOCIAL MEDIA BLOCK -->
                <div class="card-footer mb-1">
                    <span class="social__text font-italic pr-2">Share</span>
                    <a  href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" 
                        target="_blank" class="social__link pr-2" data-href="https://www.jorisr.com/campgrounds/<%= campground._id %>"
                        title="share on facebook">
                        <i class="fab fa-facebook-square fa-2x"></i>
                    </a>
                    <a  href="https://twitter.com/intent/tweet?text=Checkout+this+amazing+campground+site+<%= campground.name %>!+@&hashtags=CataCamp&url=https://www.jorisr.com" 
                        target="_blank" class="social__link pr-2"
                        title="share on twitter">
                        <i class="fab fa-twitter-square fa-2x"></i>
                    </a>
                    <a  href="#" onClick="return false" class="social__link share-link" 
                        title="copy link to clipboard">
                        <i class="fas fa-link fa-2x"></i>
                    </a>
                    <div class="tooltip-link">
                        <span class="tooltip-link__text">Page url copied to clipboard!</span>
                    </div>
                </div>
            </div>


            <!-- COMMENTS SECTION START-->
            <div class="card mb-3">
                <div class="card-body text-center pb-4 d-lg-flex justify-content-between">
                        <div class="card-title text-muted d-lg-flex justify-content-start mb-3 mb-lg-0">
                            <i class="far fa-comments fa-4x"></i>
                            <h4 class="text-center mt-2 ml-lg-4 align-self-center">Comments about <%= campground.name %> </h4>
                        </div>
                        <a  class="btn btn-outline-info text-uppercase align-self-center text-nowrap" 
                            data-toggle="collapse" href="#collapseComment" 
                            aria-expanded="false" aria-controls="collapseComment">
                            <i class="fas fa-pencil-alt pr-1"></i>Add new comment
                        </a>
                </div>
                <!-- COLLAPSED 'ADD COMMENT' SECTION START -->
                <div class="row collapse" id="collapseComment">
                    <!-- Not logged in: redirect to login page; else: show form -->
                    <% if(!currentUser) { %>
                    <div class="col-md-6 mb-2 p-3">
                        <div class="card">
                            <div class="card-title">
                                <p class="text-muted pr-3 pl-3 pb-0 mt-3">You need to be logged-in to post comments!</p>
                            </div>
                            <div class="card-body pt-0">
                                <form action="/login" method="POST" class="mb-3">
                                    <div class="form-group">
                                        <label  for="formUsername" class="form__label text-muted text-uppercase">Username</label>
                                        <input  class="form__input" type="text" name="username" id="formUsername"
                                                placeholder="Enter your username..." required>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label  for="pwField" class="form__label text-muted text-uppercase">Password</label>
                                        <input  class="form__input" type="password" name="password" id="pwField"
                                                placeholder="Enter your password..." required>
                                    </div>
                                    <button class="btn btn-outline-info"><i class="fas fa-sign-in-alt pr-1"></i>Login</button>
                                </form>
                                <div class="float-left">
                                    <a href="/register" class="btn btn-light btn-sm text-muted"><i class="fas fa-user-plus pr-2"></i>New here? Sign Up!</a>
                                </div>
                            </div>
                        </div>   
                    </div>
                    <% } %>
                    <% if(currentUser) { %>
                    <div class="col-md-12 mb-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="float-left">
                                    <form action="/campgrounds/<%= campground._id %>/comments" method="POST" class="mb-3">
                                        <div class="form-group">
                                            <label for="formComment">Add your comment for campground <%= campground.name %></label>
                                            <textarea   name="comment[text]" class="form__input p-3" id="formComment"
                                                        minlength="10" maxlength="500"
                                                        title="min 10 and max 500 characters"
                                                        placeholder="Write your comment here..." required></textarea>
                                        </div>
                                        <button class="btn btn-outline-info"><i class="far fa-share-square pr-2"></i>Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>   
                    </div>                    
                    <% } %>    
                </div>
                <!-- COLLAPSED CONTENT END -->
                <!-- SHOW COMMENTS START -->
                <div class="row">
                    <% if (campground.comments.length === 0) { %>
                        <div class="col-md-12 mb-2">
                            <div class="card">
                                <div class="card-body">
                                    <div class="float-left">
                                        <p class="text-justify">No comments yet!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                    <% campground.comments.forEach((comment) => { %>
                        <div class="col-md-12 mb-2">
                            <div class="card">
                                <div class="card-body">
                                    <div class="float-left">
                                        <p class="card-title font-italic">
                                            <i class="card-title__author far fa-user-circle pr-2"></i>
                                            <%= comment.author.username %>
                                        </p>
                                        <p class="text-justify"><%= comment.text %></p>
                                    </div>
                                    <% if(currentUser && (comment.author.id.equals(currentUser._id) || currentUser.isAdmin)){ %>
                                        <a  class="float-right mr-3 mb-3 btn btn-outline-info btn-sm" href="#collapseEditComment<%= comment._id %>" 
                                            data-toggle="collapse" aria-expanded="false" aria-controls="collapseComment">
                                            <i class="far fa-edit pr-1"></i>Edit</a>                    
                                    <% } %>
                                    <div class="float-right mr-3 text-muted">
                                        <p><i class="far fa-calendar-alt pr-2"></i>Added <%= moment(comment.createdAt).fromNow() %></p>
                                    </div>
                                </div>
                                <!-- COLLAPSED EDIT FORM START -->
                                <div class="card-footer collapse" id="collapseEditComment<%= comment._id %>">
                                    <div class="col-md-12 mb-2">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="float-left">
                                                    <form   action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT" 
                                                            method="POST" class="mb-3">
                                                    <div class="form-group">
                                                        <label for="formUpdate"><em>Update your comment for campground <%= campground.name %></em></label>
                                                        <textarea   name="comment[text]" class="form__input p-3"
                                                                    title="Min 10 and maximum 500 characters"
                                                                    minlength="10" maxlength="500"
                                                                    required><%= comment.text %></textarea>
                                                    </div>
                                                        <button class="btn btn-outline-info"><i class="far fa-share-square pr-2"></i>Save changes</button>
                                                    </form>
                                                    <form   action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" 
                                                            method="post" class="">
                                                        <button class="btn btn-outline-danger btn-sm float-right"><i class="far fa-trash-alt pr-1"></i>Permanently delete this comment</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>   
                                    </div>      
                                </div>
                                <!-- COLLAPSED EDIT FORM END -->
                            </div>  
                        </div>
                    <% }); %> 
                </div>
            </div>
        </div>
    </div> 
</div>
<!-- PAGE HAs SHAREBTNS -->
<script>
    document.body.classList.add('hasShare')
</script>
<!-- GOOGLE MAPS -->
<script>
    function initMap() {
        let lat = Number('<%= campground.lat %>');
        let lng = Number('<%= campground.lng %>');
        let center = {lat: lat, lng: lng };
        let map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: center,
            scrollwheel: false
        });
        let contentString = `
            <strong><%= campground.name %><br />
            <%= campground.location %></strong>
            <p><%= campground.description %></p>
          `
        let infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        let marker = new google.maps.Marker({
            position: center,
            map: map
        });
        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>
<script id="mapsApiScript" async defer></script>
<script>
    let apiKey = '<%= api %>';
    let url=`https://maps.googleapis.com/maps/api/js?key=${apiKey}&callback=initMap`;
    document.getElementById('mapsApiScript').src = url;
</script>
<!-- <script src="/scripts/copyurl.js"></script> -->
<% include ../modules/_footer %>